* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

header{
    background-color: #0009;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

main{
    flex-grow: 1;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.item-container{
    width: 235px;
    height: 15vh;
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    padding: 8px;
}

.item-container:hover{
    box-shadow: 0px 0px 5px #0009;
}

.img{
    width:38px;
    margin: 2px;
}

footer{
    background-color: #000;
    height: 50px;
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
    color: aliceblue;
    padding-bottom: 5px;
    padding-right: 5px;
}